<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% block style %}<link rel="stylesheet" href="{% static 'frist.css' %}">{% endblock style %}
    <title>App</title>
</head>
<body>
    <header>
        <div>
            <p>Welocme to frist app with Docker with Compose--file</p>
        </div>
    </header>
    <body>
        <div>
            App One 
        </div>
    </body>
    <footer>
        <div>
            <p><span>by</span> Eng Mahdy</p>
        </div>
    </footer>
</body>
</html>